.tabuleiro{
  width: 408px;
  height: 408px;
  float: left;
  background-color: bisque;
  margin: 10px ;
  display: inline;
}


.bloco{
  width: 128px;
  height: 128px;
  border: 2px solid ;
  border-color: black;
  text-align: center ;
  padding: 2px;
  float: left;
  cursor: pointer;
  font-size: 100px;
}

img{
  width: 124px;
  height: 124px;
  text-align: center;
}

button{
  width: 200px;
  height: 30px;
  background-color: burlywood;
  border-radius: 15px;
}

.mostrador{
  margin-left: 20px ;
  margin-top: 20px;
  float: left;
  width: 100%;
}

h1{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 3px;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centralizador{
  align-content: center;
  text-align: center;
    
}

body{
  background-color: rgb(241, 236, 228);
}